{% extends "prico/base.html" %}
{% load static %}
{% block content %} 
  <section class="contact_section layout_padding">
    <div class="container" id="alert">
     
   </div>
    <div class="container">
     
      <div class="row">
        <div class="col-md-6">
           <div class="heading_container">
        <h2>
          Forget Password
        </h2>
      </div>
          <div class="form_container">
            {% csrf_token %}
              <div>
                <input type="email" placeholder="Email" id="fpemaillid" name="email" required>
              </div>
               <div class="box btn" style="background-color: #199fc8;color: #ffffff">
                <a type="button"  value="save" id="btnsentotp" >
                  Send OTP
                </a>              
              </div>
              <div>
                <input type="text" placeholder="OTP" id="fpotp" name="" required>
              </div>
              <div>
                <input type="text" placeholder="Password" id="fppassword" name="password" required>
              </div>
              <div class="box btn" style="background-color: #199fc8;color: #ffffff">
                <a type="button"  value="save" id="btnchangepassword" >
                  Change Password
                </a>              
              </div>

          </div>
          

        </div>
       
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if status %}
          <div class="alert alert-danger" style="background-color:#541184;">
          <strong style="color:#fff;">{{ status }}</strong>
        </div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>

 
  
{% endblock content %}

