{% extends "prico/base.html" %}
{% load static %}
{% block content %} 
    <div class="container">
      <h5 style="color: #225662;font-weight: bold;text-transform: UPPERCASE;">
    Cart  Medicine</h5>
  </div>
   
   <div class="container" id="alert" >
     <h6>{{ status }}</h6>
   </div>
   
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
        <div class=" table-responsive" >
        <table class="table table-hover" style=" width: 100%;">
          <thead>
            <tr>
              <th>Image</th>
              <th scope="col">Name</th>
              <th scope="col">Brandname</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Operation</th>
            </tr>
          <!--Table head-->
          </thead>
          <!--Table body-->
          <tbody class="tbody">
            {% for x,y in cart %}
            <tr>
              <th><img src="{{ y }}" width="70px" height="50px"></th>
              <th><a href="$$={{ x.product.url_slug }}"><h4 style="font-size: 13px">{{ x.product.name }}</h4></a></th>
              <td><h4 style="font-size: 13px">{{ x.product.brandname }}</h4></td>
              <td><h4 style="font-size: 13px">{{ x.product.price }}</h4></td>
              <td>
                <button type="button" style="background-color: #225662;color: #ffffff;border-radius: 0.6rem;"  data-sid="{{ x.pk }}" value="update" id="minus_updatecart" class="btn  btn-default updatecart btn-sm"><span class="fa fa-minus"></span></button>
               <strong><span id="dddddd{{ x.pk }}">{{ x.quantity }}  </span></strong>
                <button type="button" style="background-color: #225662;color: #ffffff;border-radius: 0.6rem;"  data-sid="{{ x.pk }}" value="update" id="updatecart" class="btn  btn-default updatecart btn-sm"><span class="fa fa-plus"></span></button>
              </td>
              <td>
               
                <button type="button" style="background-color: #225662;color: #ffffff;border-radius: 0.6rem;"  data-sid="{{ x.pk }}" value="delete" id="deletecart" class="btn  btn-default btn-sm"><span class="fa fa-trash"></span></button>
              </td>
            </tr>
            {% endfor %}
          <!--Table body-->
          </tbody>
        </table>
        </div>
        </div>

        <div class="col-md-3">
        <div  class="container" >
         <div  class="card" style="width: 18rem;">
           <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5>Bill</h5></li>
          <li class="list-group-item"><h6>Total Items: <span id="total_item">{{ total_item }}</span></h6></li>
          <li class="list-group-item"><h6>Total Price: <span id="total_price">{{ total_price }}</span></h6></li>
          <li class="list-group-item"><h6>Delivery Charge: <span id="delivery_charge">{{ delivery_charge }}</span></h6></li>
          <li class="list-group-item"><h6>Tax Percentage: <span id="tex_percentage">{{ tex_percentage }}</span> %</h6></li>
          <li class="list-group-item"><h6>Tax Price : <span id="tex_price">{{ tex_price }}</span></h6></li>
          <li class="list-group-item"><h6>Total Bill: <span id="total_bill">{{ total_bill }}</span></h6>
          </li>
          {% ifnotequal cart_count '0' %}
          <li class="list-group-item"><a href="/checkout" style="background-color: #225662;color: #ffffff"  value="Checkout" class="btn btn-default btn-sm">Checkout</a></li>
          {% endifnotequal %}
          
         </ul>
                 
          </div>
        </div>
        </div>
    

        </div>
         </div>

  </section>


  
  
{% endblock content %}

