{% extends "cms/base.html" %}
      {% block content %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-header card">
          <div class="row align-items-end">
            <div class="col-sm-6 col-lg-6">
              <div class="page-header-title d-flex">
                <div class="d-inline">
                  <h4>Add Product</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="page-header-breadcrumb">
                <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                      <a href="dashboard.php">
                        <i class="icofont icofont-home"></i>
                      </a>
                    </li>
                    <li class="breadcrumb-item"><a>Keywords</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>     
     </div>
	</div>
   </div>
</div>


<div class="pcoded-content">
  <div class="pcoded-inner-content">
  	<div class="page-body">
  		<div class="card">
  			<div class="card-block">
  				   <div class="edit-info">
                    <form method="POST">
                    	{% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="input-group">
                                <input type="text" name="name" class="form-control" placeholder="Delimeter" />
                              </div>
                            </div>
                          
                            <div class="col-md-12">
                              <div class="input-group">
                                <textarea type="text" name="keyword" class="form-control" placeholder="Keywords about the Product" rows="5" /></textarea>
                              </div>
                            </div>                               
                            
                            <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-2">
                              <button type="submit" class="btn btn-primary m-r-20 edit-cancel">Save</button>
                              
                            </div>
                          </div>                              
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
  			</div>
  		</div>
  	</div>
  	</div>
  </div>



<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="page-body">
      <div class="card">
        <div class="card-block">
             <div class="edit-info">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="input-group">
                                <span class="input-group-addon">Keywords</span>
                                <textarea type="text" name="keyword" class="form-control" placeholder="Keywords about the Product" rows="5" />{{ keyword }}</textarea>
                              </div>
                            </div>                               
                          </div>                              
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
        </div>
      </div>
    </div>
    </div>
  </div>




{% endblock content %}
